* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


body {
    width: 100vw;
    height: 160vh;
}

@font-face {
    font-family: "copper";
    src: url(/assets/fonts/copper_penny_dtp/Copper\ Penny\ DTP.ttf);
  }
  @font-face {
    font-family: "geo";
    src: url(/assets/fonts/geo_sans_light/GeosansLight.ttf);
}