#header {
    height: 10vh;
}

nav {
background-color: map-get($colores,"nav");
}

.nav-link {
    color: map-get($colores,"link") !important;
    font-family: "Source Sans Pro", sans-serif;
  font-size: $texto !important;
  font-weight: 600;
  border: 2px solid map-get($colores,"border");
    border-radius: 8px;
    margin-right: 5px;
    padding: 2px;
    background-color: map-get($colores,"background");
}

a:hover {
    scale:1.1;
    color: #0c0701 !important;
}

a:active {
    color: map-get($colores,"link") !important;
}

#navActive {
    color: #0c0c0c !important;
}
.logo {
    width: 5vw;
    height: 11vh;
    margin-right: 850px;
}

