#main {
    height: 160vh;
    background-color:#ecfeff;
}
#fotoBelu {
    @include sizes(150px, 150px);
    float: left;
    padding: $texto - 6;
}


#cajaUno {
    @include sizes(700px, 350px);
    background-image: linear-gradient(to right,#d2f09c,#a0bd6d, #708d40); 
    border-style: dotted;
    border-width: 5px;
    border-radius: $texto+4;
    border-color: #4a5e2a;
    margin-top: ($texto+4)*7;
}

.parrafo {
    line-height: $texto+10;
    font-family: 'Inter Tight', sans-serif;
    font-size: $texto;
    padding-right: $texto - 6;
    
}

.titulo {
    font-family: 'Dancing Script', cursive;
    font-size: $texto+20;
    font-weight: 200;
    text-align: center;
    padding: $texto - 6;
}

.tituloVideo {
    @extend .titulo;
    font-size: $texto+10;
}

.btn {
    color:map-get($colores,"btn");
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $texto;
    font-weight: 600;
    border: 2px solid map-get($colores,"btnBorder");
    border-radius: 8px;
    margin-left: 50%;
    margin-top: -30px;
    padding: 5px;
    background-color: map-get($colores,"btnBack");

}


.cajaVideo {
  margin-top: ($texto+4)*2;
 } 

.cajaTextoVideo {
    @include sizes(250px, 580px);
    border: 10px solid #ffd77d;
    background-color: #ffffae;
    border-radius: ($texto+4)*2;
    margin-right: 8px;
    ;
}

.textoVideo {
    
    font-family: 'Inter Tight', sans-serif;
    line-height: $texto+8;
    padding: $texto+4;
    font-size: 14px;
    text-align: center;
}

.animate__bounceIn {
    animation-duration: 2s;
}

.animate__rotateIn {
    animation-duration: 2s;
}


fieldset {
    line-height: 30px;
    text-align: center;
    background-color:#5d6c6d;
    width: 600px;
    padding: 50px;
}

#botonDos {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin-right: 70%;
    font-family: 'Source Sans Pro', sans-serif;
}

#botonDos:hover {
    scale:1.1;
    color: #0c0701 !important;
}

.fotoBeluDos {
    @include sizes(300px, 400px);
    border-radius: 20px;
}

.cajaPerfil {
    @include sizes(500px, 700px);
    background-color: #ffffe5;
border-radius: 50px;
border: 20px solid #a37c56;
}

.tituloPerfil {
    @extend .titulo;
font-weight: 700;
padding: 30px;

}

.parrafoPerfil {
    @extend .parrafo;
    padding: 40px;
    text-align: center;
}

#tallerUno {
    background-image: url("https://www.ayselucus.es/sites/default/files/noticias/fotos/6603545f-44a0-4bb5-a208-4538c50f0230.png");
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

#tallerDos {
    @extend #tallerUno;
    background-image: url("https://www.joyeriadeluxe.com/fr-1200x800-data/fotos/como-se-hacen-los-relojes-de-arena40.jpg");
    
}

.cajaTaller{
    height: 300px;
    width: 550px;
    background-color: #d2f09c;
    border-radius: 20px;
    border-style: double;
    border-color: #708d40;
    margin: 20px;
}

.tituloTaller {
    @extend .titulo;
    padding-top: 40px;
}

.parrafoTaller {
    @extend .parrafo;
    text-align: center;
}


.fotoTestUno {
    @include sizes(350px, 350px);
}

.fotoTestDos {
    @include sizes(330px, 330px);
    margin-top: 25px;
    }

.cajaParrafoTest {
    @include sizes(600px, 250px);
border: 10px solid #a37c56;
margin-top: 50px;
}

.parrafoTest {
    @extend .parrafo;
    text-align: center;
    padding: 30px;
}

@media only screen (min-width: 576px) {
    .nav-link {   
      font-size: 10px !important;
      padding: 10px !important;
      
    }
    .logo {
        width: 5vw;
        height: 2vh;
        margin-top: 10px;
        margin-left: 10px;
        
    }
  }