#header {
  height: 10vh;
}

nav {
  background-color: #E9E7DA;
}

.nav-link {
  color: #373F27 !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  border: 2px solid #373F27;
  border-radius: 8px;
  margin-right: 5px;
  padding: 2px;
  background-color: #E9E7DA;
}

a:hover {
  scale: 1.2em;
  color: #0c0701 !important;
}

a:active {
  color: #373F27 !important;
}

#navActive {
  color: #0c0c0c !important;
}

.logo {
  width: 5vw;
  height: 11vh;
  margin-right: 850px;
}

#main {
  height: 160vh;
  background-color: #CDA34F;
}

#fotoBelu {
  width: 150px;
  height: 150px;
  float: left;
  padding: 10px;
}

#cajaUno {
  width: 700px;
  height: 350px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7e8858), color-stop(#636B46), to(#373F27));
  background-image: linear-gradient(to right, #7e8858, #636B46, #373F27);
  border-style: dotted;
  border-width: 5px;
  border-radius: 20px;
}

.parrafo, .parrafoTest, .parrafoTaller, .parrafoPerfil {
  line-height: 26px;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  padding-right: 10px;
  color: #E9E7DA;
}

.titulo, .tituloTaller, .tituloPerfil, .tituloVideo {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  padding: 10px;
  color: #E9E7DA;
}

.tituloVideo {
  font-size: 26px;
  color: #E9E7DA;
}

.btn {
  color: #373F27;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #373F27;
  border-radius: 8px;
  margin-left: 50%;
  margin-top: -30px;
  padding: 5px;
  background-color: #E9E7DA;
}

.cajaVideo {
  margin-top: 40px;
}

.cajaTextoVideo {
  width: 280px;
  height: 580px;
  border: 10px solid #373F27;
  background-color: #373F27;
  border-radius: 40px;
}

.textoVideo {
  font-family: "Inter Tight", sans-serif;
  line-height: 24px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #E9E7DA;
}

.animate__bounceIn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animate__rotateIn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

fieldset {
  line-height: 30px;
  text-align: center;
  background-color: #E9E7DA;
  width: 600px;
  padding: 50px;
}

#botonDos {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: 60%;
  font-family: "Source Sans Pro", sans-serif;
}

#botonDos:hover {
  scale: 1.2em;
  color: #0c0701 !important;
}

.fotoBeluDos {
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.cajaPerfil {
  width: 500px;
  height: 700px;
  background-color: #636B46;
  border-radius: 50px;
  border: 20px solid #373F27;
}

.tituloPerfil {
  font-weight: 700;
  padding: 30px;
}

.parrafoPerfil {
  padding: 40px;
  text-align: center;
}

#tallerUno, #tallerDos {
  background-image: url("https://www.ayselucus.es/sites/default/files/noticias/fotos/6603545f-44a0-4bb5-a208-4538c50f0230.png");
  height: 280px;
  width: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

#tallerDos {
  background-image: url("https://www.joyeriadeluxe.com/fr-1200x800-data/fotos/como-se-hacen-los-relojes-de-arena40.jpg");
  height: 280px;
  width: 280px;
}

.cajaTaller {
  height: 300px;
  width: 580px;
  background-color: #636B46;
  border-radius: 20px;
  border-style: double;
  border-color: #373F27;
  margin-bottom: 30px;
}

.tituloTaller {
  padding-top: 40px;
}

.parrafoTaller {
  text-align: center;
}

.fotoTestUno {
  width: 330px;
  height: 330px;
}

.fotoTestDos {
  width: 330px;
  height: 330px;
  margin-top: 5px;
}

.cajaParrafoTest {
  width: 600px;
  height: 250px;
  border: 10px solid #373F27;
  margin-top: 10px;
  background-color: #636B46;
  border-radius: 20px;
}

.parrafoTest {
  text-align: center;
  padding: 30px;
  color: #E9E7DA;
}

#footer {
  height: 10vh;
  background-color: #E9E7DA;
}

.foot {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.ig {
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 160vh;
}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
  .logo {
    height: 7vh;
    margin-right: 250px
  }
  .nav-link {
    padding: 2px;
    background-color: #E9E7DA;
  }
    #cajaUno {
      width:400px;     
      height:230px;

  }
  
  .parrafo {
      line-height: 15px;
      font-size: 10px;
      padding-right: 10px;
      
  }
  #fotoBelu {
      width: 80px;
      height: 80px;
      float: left;
      padding: 2px;
  }
  .titulo {
      font-size: 18px;
      padding: 5px;
  }
  
  .btn {
    font-size: 0.8rem;
    font-weight: 600;
      margin-left: 50%;
      margin-top: -20px;
      padding: 2px;

  }
  .video {
      width: 400px;
      height: 300px;

  }
  
.cajaTextoVideo {
  width:400px;     
  height:180px;
  margin-top: -100px;  
}

.tituloVideo {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
.textoVideo {
  font-size: 12px;
  line-height: 13px;
  margin-top: -35px; 
}
#botonDos {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 70%;
}
fieldset {
  width: 400px;
  height: 600px;
}
.fotoBeluDos {
  width: 200px;
  height: 250px;
  
}

.cajaPerfil {
  width: 500px;
  height: 400px;
}

.tituloPerfil {
font-weight: 700;
font-size: 28px;
text-align: center;
padding: 30px;
}

.parrafoPerfil {
  line-height:20px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
#tallerUno {
  background-image: url("https://www.joyeriadeluxe.com/fr-1200x800-data/fotos/como-se-hacen-los-relojes-de-arena40.jpg");
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
  margin-top: 60px;
}

#tallerDos {
  background-image: url("https://www.ayselucus.es/sites/default/files/noticias/fotos/6603545f-44a0-4bb5-a208-4538c50f0230.png");
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
  margin-bottom: -70px;
}

.cajaTaller{
  height: 190px;
  width: 450px;
  border-radius: 20px;
  border-style: double;
  margin-top: -10px;
}

.tituloTaller {
font-weight: 700;
font-size: 25px;
text-align: center;
padding: 20px;
}

.parrafoTaller {
  line-height: 14px;
  padding: 15px;
  text-align: center;
  margin-top: -40px;
}

.fotoTestUno {
width: 200px;
height: 200px;
}

.fotoTestDos {
  width: 200px;
  height: 200px;
  margin-top: -80px;
  }

.cajaParrafoTest {
width: 500px;
height: 130px;
}

.parrafoTest {
  line-height: 20px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}
  }
    
@media only screen and (min-width: 768px) and (max-width: 991px)
{
  
  .logo {
    height: 7vh;
    margin-right: 250px
  }
  .nav-link {
    padding: 2px;
    background-color: #E9E7DA;
  }
    #cajaUno {
      width:600px;     
      height:230px;

  }
  
  .parrafo {
      line-height: 15px;
      font-size: 15px;
      padding-right: 10px;
      
  }
  #fotoBelu {
      width: 90px;
      height: 90px;
      float: left;
      padding: 2px;
  }
  .titulo {
      font-size: 22px;
      padding: 5px;
  }
  
  .btn {
    font-size: 1rem;
    font-weight: 600;
      margin-left: 50%;
      margin-top: -20px;
      padding: 2px;

  }
  .video {
      width: 400px;
      height: 300px;

  }
  
.cajaTextoVideo {
  width:600px;     
  height:180px;
  margin-top: -100px;  
}

.tituloVideo {
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}
.textoVideo {
  font-size: 15px;
  line-height: 18px;
  margin-top: -35px; 
}
#botonDos {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 70%;
}
fieldset {
  width: 500px;
  height: 600px;
}
.fotoBeluDos {
  width: 250px;
  height: 330px;
  
}

.cajaPerfil {
  width: 550px;
  height: 350px;
  margin-top: -50px;
}

.tituloPerfil {
font-weight: 700;
font-size: 30px;
text-align: center;
padding: 10px;
}

.parrafoPerfil {
  line-height:20px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
#tallerUno {
  background-image: url("https://www.joyeriadeluxe.com/fr-1200x800-data/fotos/como-se-hacen-los-relojes-de-arena40.jpg");
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;

}

#tallerDos {
  background-image: url("https://www.ayselucus.es/sites/default/files/noticias/fotos/6603545f-44a0-4bb5-a208-4538c50f0230.png");
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;

}

.cajaTaller{
  height: 160px;
  width: 650px;
  border-radius: 20px;
  border-style: double;
  margin-top: -20px;

}

.tituloTaller {
font-weight: 700;
font-size: 25px;
text-align: center;
padding: 10px;
}

.parrafoTaller {
  line-height: 18px;
  padding: 5px;
  text-align: center;
  margin-top: -20px;
}

.fotoTestUno {
width: 200px;
height: 200px;
}

.fotoTestDos {
  width: 200px;
  height: 200px;
  margin-top: -80px;
  }

.cajaParrafoTest {
width: 600px;
height: 130px;
}

.parrafoTest {
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
  .logo {
    margin-right: 550px
  }
 
  #cajaUno {
    width:600px;     
    height:400px;

}
fieldset {
  width: 500px;
  height: 600px;
}


.cajaTaller{
  height: 300px;
  width: 500px;


}

.fotoTestUno {
width: 160px;
height: 160px;
}

.fotoTestDos {
  width: 160px;
  height: 160px;

  }

.cajaParrafoTest {
width: 400px;
height: 200px;
}

.parrafoTest {
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
}

